# MASTER SERVER - named.conf.local

{% for zone in zones %}
zone "{{ zone.domain }}" {
    type master;
    file "/var/lib/bind/zones/db.{{ zone.domain }}";
    {% if zone.bind9allowtransfer is defined %}
    allow-transfer { 
        {% for allowtransfer in zone.bind9allowtransfer %}
        {{ allowtransfer }}; 
        {% endfor %}
    };
    {% endif %}
    {% if zone.bind9allowupdate is defined %}
    allow-update { 
        {% for allowupdate in zone.bind9allowupdate %}
        {{ allowupdate }}; 
        {% endfor %} 
    };
    {% endif %}
};
{% endfor %}