options {
    directory "/var/cache/bind";

    recursion yes;              # enables resursive queries
    allow-recursion { any; };   # allows recursive queries from "trusted" clients
    listen-on { 0.0.0.0/0; };   # addressed to listen on (all default)
    allow-transfer { none; };   # disable zone transfers by default

    forwarders {
        {% for forwarder in zone_config.forwarders %}
        {{ forwarder }};
        {% endfor %}
    };
};